.hero {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
}

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem var(--size-11);
}
