:root {
    --primary: hsl(216, 100%, 50%);
    --primary-hover: hsl(216, 100%, 35%);
    --secondary: hsl(346, 84%, 61%);
    --secondary-hover: hsl(346, 84%, 50%);

    --success: hsl(153, 53%, 53%);
    --success-hover: hsl(153, 53%, 40%);
    --danger: hsl(0, 98%, 49%);
    --danger-hover: hsl(0, 98%, 40%);

    --white: hsl(0, 0%, 100%);
    --white-grey: hsl(0, 0%, 98%); 
    --white-light: hsl(0, 0%, 85%);

    --grey-lightest: hsl(0, 0%, 48%);
    --grey-lighter: #4a4a4a;
    --grey-dark: #363636;

    --radius-small: 2px;
    --radius: 4px;
    --radius-large: 6px;
    --radius-rounded: 9999px;

    --weight-light: 300;
    --weight-normal: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;

    --size-16: 2.75rem;
    --size-15: 2.5rem;
    --size-14: 2.25rem;
    --size-13: 2rem;
    --size-12: 1.75rem;
    --size-11: 1.5rem;
    --size-10: 1.25rem;
    --size-9: 1rem;
    --size-8: 0.875rem;
    --size-7: 0.75rem;
    --size-6: 0.625rem;
    --size-5: 0.5rem;
    --size-4: 0.375rem;
    --size-3: 0.25rem;
    --size-2: 0.125rem;
    --size-1: 1px;
    --size-0: 0;
}