.input {
    cursor: pointer;
    width: 100%;
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
}

/* ---- Styles ---- */

/* rounded */
.input.is-rounded {
    border-radius: var(--radius-rounded);

    /* Have more circular look on either side. */
    padding-left: 1em;
    padding-right: 1em;
}

/* ---- Colors ---- */
.input.is-danger {
    border-color: var(--danger);
}

.input.is-success {
    border-color: var(--success);
}

/* ---- States ---- */

.input:hover {
    border-color: var(--grey-dark);
}

/* Remove grey dark color on hover for success/danger */
.is-success.input:hover {
    border-color: var(--success);
}

.is-danger.input:hover {
    border-color: var(--danger);
}

/* Make .icon darker on state change of input */
.input:active ~ .icon,
.input:focus ~ .icon {
    color: var(--grey-dark);    
}

/* Overwrite default active, focus style for success/danger 
    Not working as of now
*/
.is-success.input:active,
.is-success.input:focus {
    border-color: var(--success-hover);
}

.is-danger.input:active,
.is-danger.input:focus {
    border-color: var(--danger-hover);
}
