.select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top;
}

.select select {
    cursor: pointer;
    display: block;
    max-width: 100%;

    /* For responsive sizes of slect */
    font-size: 1em;

    /* Remove default dropdown icon */
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

.select select:not([multiple]) {
    padding-right: 2.5em;
}

/* ---- For multiple select dropdown ---- */

.select select[multiple] {
    height: auto;
    padding: 0;
}

.select select[multiple] option {
    padding: var(--size-5) var(--size-9);
}
