html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility; 
    overflow-x: hidden;
    overflow-y: scroll;
    text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1em;
    line-height: 1.5;
    color: var(--grey-lighter);
    font-weight: 400;
}

/* Blocks */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* Form */
button, input, select, textarea {
    margin: 0;
}

/* Links */
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--cyan);
}

/* List */
ul {
    list-style: none;
}

/* Media */
img, 
video, 
iframe {
    block-size: auto;
    max-inline-size: 100%;
}

/* Headings */
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-size: 100%;
    font-weight: normal;
}

/* Form */
button,
input,
select,
textarea {
  margin: 0
}

/* Iframe */
iframe {
    border: 0;
}

/* Span */
span {
    font-style: inherit;
    font-weight: inherit;
}

/* Strong */
strong {
    color: var(--grey-dark);
    font-weight: 700;
}

a strong {
    color: currentColor;
}

/* Font Awesome Setup
    https://fontawesome.com/v5.15/how-to-use/on-the-web/referencing-icons/basic-use
*/
.fa, 
.fab, 
.fad, 
.fal, 
.far, 
.fas {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa,
.fas {
    font-weight: 900;
}

.fa, 
.far, 
.fas {
    font-family: "Font Awesome 5 Free";
}
