html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility; 
    overflow-x: hidden;
    overflow-y: scroll;
    text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Blocks */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* Form */
button, input, select, textarea {
    margin: 0;
}

/* Links */
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--cyan);
}

/* List */
ul {
    list-style: none;
}

/* Media */
img, 
video, 
iframe {
    block-size: auto;
    max-inline-size: 100%;
}

/* Headings */
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-size: 100%;
    font-weight: normal;
}

/* Form */
button,
input,
select,
textarea {
  margin: 0
}

/* Iframe */
iframe {
    border: 0;
}