.avatar {
    position: relative;
    overflow: hidden;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    /* Default avatar style */
    width: 1.75em;
    height: 1.75em;
    font-size: 1.5em;

    border-radius: var(--radius-rounded);
    padding: 0.5em;

    color: var(--white);
    background-color: var(--grey-dark);
}

/* ---- Sizes ---- */

/* small */
.avatar.is-sm {
    font-size: 1em;
}

/* medium */
.avatar.is-md {
    font-size: 2em;
}

/* large */
.avatar.is-lg {
    font-size: 2.75em;
}

/* ---- Image avatars ---- */
.avatar.is-img img {
    object-fit: cover;
    color: transparent;
    width: 100%;
    height: 100%;
}

.avatar.is-img {
    padding: 0;
}

/* ---- Square avatars ---- */
.avatar.is-square {
    border-radius: 0;
}

/* ---- Rounded avatars ---- */
.avatar.is-rounded {
    border-radius: var(--radius-large);
}
