.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: var(--size-12);
    /* so that they change as we change element's font size */
    width: 1em;
    height: 1em;

    color: var(--grey-lighter);
}

.icon.is-sm {
    font-size: var(--size-11);
}

.icon.is-md {
    font-size: var(--size-13);
}

.icon.is-lg {
    font-size: var(--size-14);
}