.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* so that they change as we change element's font size */
    width: 1em;
    height: 1em;
}

/* .icon.is-md {
    height: var(--size-13);
    width: var(--size-13);
}

.icon.is-lg {
    height: 3rem;
    width: 3rem;
} */
